.title {
    user-select: none; 
}

.typed-text{
    user-select: none;  
     pointer-events: none; 
    color: red;
}

.button_container {
    justify-content: center;
    display: flex;
    gap: 15px; 
    padding: 20px;
}